@{
    ViewData["Title"] = "Home Page";
}
<div class="banner">
        <img src=""
        <div class="container">
            <div class="banner-desc">
                <h1>Rent New Films & TV Series</h1>
                <p>Cinema Paradiso makes it easy to buy or rent movies online, wherever you are, whenever you like.
                </p>
                <button>
                    Rent A Movie
                </button>
            </div>
        </div>
    </div>